$prefixCls: ml-tabs;

.#{$prefixCls} {
  position: relative;
  &__wrapper {
    height: 48px;
  }
  &__header {
    position: relative;
    display: flex;
    background-color: #fff;
    user-select: none;
    height: 48px;
  }
  &__header-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0 4px;
    color: #646566;
    font-size: 14px;
    cursor: pointer;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 3px;
    background-color: $theme-color;
    border-radius: 3px;
    
    &--active {
      transition-duration: 0.3s;
    }
  }
}
