$prefixCls: ml-tabs;

.#{$prefixCls} {
  position: relative;
  &__wrapper {
    height: 48px;
  }
  &__header {
    position: relative;
    display: flex;
    background-color: #fff;
    user-select: none;
    height: 48px;

    &--scrollable {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__header-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0 4px;
    color: #646566;
    font-size: 14px;
    cursor: pointer;

    &--active {
      color: $theme-color;
    }

    &--disabled {
      color: $gray-5;
      cursor: not-allowed;
    }
  }

  &__content {
    background: #fff;
    &--animated {
      overflow: hidden;
    }
  }

  &__animated-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    will-change: left;
  }

  &__line {
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $theme-color;
    text-align: center;
    &--transition-forward {
      transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
    }
    &--transition-backward {
      transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
    }
    
    // &--active {
    //   // transition-duration: 0.3s;
    //   transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;
    // }
  }

  &__bar-inner {
    display: block;
    background-color: $theme-color;
    margin: auto;
    height: 100%;
    transition: width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }

  &__left-icon {
    margin-right: 4px;
  }
}
