$prefixCls: ml-index-anchor;

.#{$prefixCls} {
  z-index: 1;
  box-sizing: border-box;
  padding: 0 16px;
  color: #323233;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  background-color: transparent;

  &--sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: $theme-color;
    background: #fff;
  }
}
