$prefixCls: ml-checkbox;

.#{$prefixCls} {
  display: inline-block;
  font-size: 14px;
  &__wrap {
    display: flex;
    align-items: baseline;
  }
  &__text {
    display: inline-block;
    margin-left: 6px;
  }
}