$prefixCls: ml-dropdown-item;

.#{$prefixCls} {
  &__wrapper {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;

    &--down {
      bottom: 0;
    }

    &--up {
      top: 0;
    }
  }

  &__option {
    &--active {
      color: $theme-color;
    }
  }

  &__right-icon {
    font-size: 14px;
    transition: all 0.3s ease;
  }
}