$prefixCls: ml-switch;

.#{$prefixCls} {
  height: 1em;
  width: 1.6em;
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 1em;
  transition: .3s;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  background-clip: content-box;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  &--checked {
    border-color: $theme-color;
    background-color: $theme-color;
    transition: .3s;
    .#{$prefixCls}__circle {
      transform: translateX(.6em);
      transition: transform 0.3s;
    }
  }
  &--checked.#{$prefixCls}--animation {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow ease 0.4s, background-color ease 1s;
    box-shadow: $theme-color 0 0 0 16px inset;
  }
  &--disabled {
    opacity: .4;
  }
  &__circle {
    top: 0;
    left: 0;
    z-index: 1;
    width: 1em;
    height: 1em;
    transition: .3s;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 3px 3px 0 rgba(0, 0, 0, .05);
  }
}
