$prefixCls: ml-swiper;

.#{$prefixCls} {
  display: inline-block;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100%;
  height: 250px;
  &__wrap {
    height: 100%;
    display: flex;

    &--vertical {
      flex-direction: column;
    }
  }
  &__point-wrap {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;

    &--vertical {
      flex-direction: column;
      justify-content: center;
      left: 12px;
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      
      & > .#{$prefixCls}__point-item {
        margin-left: 0;
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__point-item {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    margin-left: 6px;

    &:first-child {
      margin-left: 0;
    }
    &--point-active {
      background-color: #fff;
    }
  }
}
