$prefixCls: ml-timeline;

.#{$prefixCls} {
  &__list {}

  &__item {
    font-size: 14px;
    list-style: none;
    display: flex;
    padding-bottom: 30px;
    position: relative;
    // align-items: baseline;

    &-left {
      text-align: center;
    }

    &-right {
      flex: 1;
    }
  }

  &__line-wrapper {
    width: 16px;
    flex: 0 0 1px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__dot {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid transparent;
    position: absolute;
    position: relative;
    border-color: $theme-color;
    z-index: 3;
  }

  &__line {
    height: 100%;
    border-left: 1px solid #ccc;
    position: absolute;
    top: 0;
    box-sizing: border-box;
  }
}
