@font-face {font-family: "ml-icon";
  src: url('~@/common/font/iconfont.ttf?t=1594948912357') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.ml-icon {
  font-family: "ml-icon" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-icon-loading2:before {
  content: "\e6d2";
}

.ml-icon-loading-solid:before {
  content: "\e60e";
}

.ml-icon-back-top:before {
  content: "\e695";
}

.ml-icon-back-top1:before {
  content: "\e608";
}

.ml-icon-back-top2:before {
  content: "\e60f";
}

.ml-icon-back-top3:before {
  content: "\e60b";
}

.ml-icon-spinner:before {
  content: "\e86f";
}

.ml-icon-spinner9:before {
  content: "\e7e9";
}

.ml-icon-loading1:before {
  content: "\e62e";
}

.ml-icon-home:before {
  content: "\e6fe";
}

.ml-icon-spinner1:before {
  content: "\e686";
}

.ml-icon-loading-:before {
  content: "\e8aa";
}

.ml-icon-loading-1:before {
  content: "\e8ab";
}

.ml-icon-loading-2:before {
  content: "\e8b0";
}

.ml-icon-all:before {
  content: "\e6ef";
}

.ml-icon-editor:before {
  content: "\e6f6";
}

.ml-icon-gift:before {
  content: "\e6f9";
}

.ml-icon-browse:before {
  content: "\e745";
}

.ml-icon-viewlarger:before {
  content: "\e76c";
}

.ml-icon-viewlarger1:before {
  content: "\e78f";
}

.ml-icon-Downloadinterfacedownloading:before {
  content: "\e9cd";
}

.ml-icon-Uploadinterfaceuploading:before {
  content: "\e9cb";
}

.ml-icon-Uploadinterfaceuploading1:before {
  content: "\e9d3";
}

.ml-icon-Downloadinterfacedownloading1:before {
  content: "\e9d8";
}

.ml-icon-search1:before {
  content: "\e7b3";
}

.ml-icon-viewfinder:before {
  content: "\e8b1";
}

.ml-icon-spinner2:before {
  content: "\e77a";
}

.ml-icon-spinner3:before {
  content: "\e77f";
}

.ml-icon-spinner-arrow:before {
  content: "\e71d";
}

.ml-icon-shanchu:before {
  content: "\e600";
}

.ml-icon-error-gap:before {
  content: "\e605";
}

.ml-icon-circle-left:before {
  content: "\e60a";
}

.ml-icon-circle-up:before {
  content: "\e611";
}

.ml-icon-checkmark-empty:before {
  content: "\e610";
}

.ml-icon-jia:before {
  content: "\e641";
}

.ml-icon-jian:before {
  content: "\e643";
}

.ml-icon-alert-empty:before {
  content: "\e606";
}

.ml-icon-keyboard-xiangxia:before {
  content: "\e609";
}

.ml-icon-yuandian:before {
  content: "\e82f";
}

.ml-icon-circle-down:before {
  content: "\e612";
}

.ml-icon-circle-right:before {
  content: "\e614";
}

.ml-icon-yuandianxiao:before {
  content: "\e630";
}

.ml-icon-alert-full:before {
  content: "\e685";
}

.ml-icon-error-empty:before {
  content: "\e616";
}

.ml-icon-square-checked:before {
  content: "\e607";
}

.ml-icon-checkmark-full:before {
  content: "\e69e";
}

.ml-icon-aixin:before {
  content: "\e63e";
}

.ml-icon-checkmark:before {
  content: "\e624";
}

.ml-icon-square-border-unchecked:before {
  content: "\e678";
}

.ml-icon-loading:before {
  content: "\e633";
}

.ml-icon-keyboard-down:before {
  content: "\e6fb";
}

.ml-icon-error:before {
  content: "\e632";
}

.ml-icon-unchecked:before {
  content: "\e66d";
}

.ml-icon-error-full:before {
  content: "\e68c";
}

.ml-icon-arrow-left:before {
  content: "\e6fd";
}

.ml-icon-alert:before {
  content: "\e8ee";
}

.ml-icon-weep:before {
  content: "\e603";
}

.ml-icon-keyboard-remove:before {
  content: "\e627";
}

.ml-icon-flower:before {
  content: "\e7c3";
}

.ml-icon-square-unchecked:before {
  content: "\e66c";
}

.ml-icon-pentagram:before {
  content: "\e601";
}

.ml-icon-emoji:before {
  content: "\e604";
}

.ml-icon-search:before {
  content: "\e602";
}

.ml-icon-keyboard-xiangshang:before {
  content: "\e649";
}

.ml-icon-keyboard-delete:before {
  content: "\e64a";
}

.ml-icon-square-border-checked:before {
  content: "\e63d";
}

.ml-icon-arrow-up:before {
  content: "\e8ef";
}

.ml-icon-arrow-right:before {
  content: "\e8f0";
}

.ml-icon-arrow-down:before {
  content: "\e8f1";
}

.ml-icon-checkicon:before {
  content: "\e6cc";
}

.ml-icon-question:before {
  content: "\e6cf";
}
